@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet');

body {
  @apply bg-bg;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;

}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}


body::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

body::-webkit-scrollbar-track {
  background: pink;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: palevioletred;
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.landingSectionTitle::before {
  content: "";
  position: absolute;
  left: 105%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  @apply bg-medium-pink;
}

@media (max-width: 768px) {
  .landingSectionTitle::before {
    left: 50%;
    right: auto;
    top: -20px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 150px;
    @apply bg-medium-pink;
  }
}

/* Mobile Nav */

.burger {
  transition: opacity 300ms ease;
  border: 0;
  background: transparent;
  width: 20px;
  height: 20px;
  position: relative;
}

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.burger svg[data-hide="true"] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.menu {
  margin: 0;
  padding: 40px 20px 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  left: 0;
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu li {
  transform: translateX(-16px);
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease, width 300ms ease,
    border-color 300ms ease;
  width: 0px;
  white-space: nowrap;
}

.menuRendered {
  opacity: 1;
}

.menuRendered li {
  @apply border-gray-600 w-full;
  transform: translateX(0);
  opacity: 1;
}

.menu > * + * {
  margin-top: 24px;
}
@keyframes pinkgradient {
  0% { color: #ff6ec7; }
  25% { color: #ff3EA5; }
  50% { color: #ff7ED4; }
  75% { color: #ff3EA5; }
  100% { color: #ff6ec7; }
}

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}


@keyframes scaleDownIn {
  from {
    opacity: 0;
    transform: scale(4) translateY(0px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blurIn {
  0% {
    filter: blur(20px);
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
}

#__next {
  min-height: 100vh;
  width: 100%;
}

main {
  min-height: 100vh;
  width: 100%;
}

.heroElem {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  animation: blurIn 1.5s ease-in-out;
}

.heroElem .sqD:not(.squiggle-hero-pop1) { /*Kecuali elemen yang punya class squiggle-hero-pop1*/
  animation: float 2s infinite ease-in-out; 
}
.heroTitle .sqD {
  @apply scale-[0.8] lg:scale-100; /*scale-[0.8] → mengecilkan elemen menjadi 80% ukuran normal

lg:scale-100 → ukuran kembali normal (100%) saat layar large (≥1024px)

Artinya:
Dekorasi .sqD di title akan lebih kecil di HP/tablet, dan kembali normal di layar besar.*/
}

/* All svg squiggle decorations */
.sqD {
  @apply absolute z-[-10];
}
